footer.container-fluid.text-center
	.col-sm-6.col-md-4.col-md-offset-4.col-sm-offset-3
		h3 About The Author
		p Slevin (Liyin Zhang) is a first-year student studying Interactive Web Design and Development in Georgian College.
		a.btn.btn-primary(type="button", href="mailto:slevinz@outlook.com") Contact
	p.copy-right Copyright &copy; 
		a(href="http://slevin.im") Slevin Zhang 
		span#date